<footer class="footer text-center py-3 mt-auto">
        <div class="container" style="color: var(--primaryColor);">
            <p class="mb-1 fw-bolder">© 2025 YOSHIDA. All Rights Reserved.</p>
            <div>
                <a style="color: var(--primaryColor);" href="#" class=" text-decoration-none mx-2">Privacy Policy</a> |
                <a style="color: var(--primaryColor);" href="#" class=" text-decoration-none mx-2">Terms of Service</a> |
                <a style="color: var(--primaryColor);" href="#" class=" text-decoration-none mx-2">Contact</a>
            </div>
        </div>
    </footer>