<footer class="footer text-white text-center py-3 mt-auto">
        <div class="container">
            <p class="mb-1 fw-bolder">© 2025 YOSHIDA. All Rights Reserved.</p>
            <div>
                <a href="#" class="text-white text-decoration-none mx-2">Privacy Policy</a> |
                <a href="#" class="text-white text-decoration-none mx-2">Terms of Service</a> |
                <a href="#" class="text-white text-decoration-none mx-2">Contact</a>
            </div>
        </div>
    </footer>