<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- Logo -->
        
        <img src="../ASSETS/imgs/logo.jpg" class="logo mx-3" alt="Logo">
        <a class="navbar-brand fw-bold d-none d-md-block" href="../index.html">YOSHIDA.</a>

        <!-- Toggler for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto px-3">
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" href="../index.html">HOME</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link" href="../TEMPLATE/history_page.html">BOOK HISTORY</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link" href="../TEMPLATE/Aboutus.html">ABOUT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>